<app-header></app-header>
<section class="vh-70 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-8">
          <div class="card bg-primary text-white" >
            <div class="card-body p-10 text-center">
              <h2>Bienvenido a la Prueba Técnica - Innobec Ltda.</h2>
              <p>La Página siguiente es un Crud en angular, que te permitirá ingresar un Usuario ademas de poder seleccionarlo en la lista inferior te permitirá eliminar o editar al usuario.</p>
              <div>
                <button routerLink="/Personal" class="btn btn-outline-light" >Ir a la página</button>
              </div>
            </div>                     
              </div>
            </div>
          </div>
        </div>
  </section>
