/* You can add global styles to this file, and also import other style files */
body {
    background: #1d7aa9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #35c2c0, #1c6199);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2cc5c2, #1d4f9f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    min-height: 100vh;
    max-height: auto;
}
.ng-valid:not(form).ng-touched{
    border-left: 5px solid #42A948;
}
.ng-invalid:not(form).ng-touched{
    border-left: 5px solid #a94442;
}


